{% extends "page.html" %}
{% block bodycontents %}
<p>
<img src="images/logo-black.png" width="40%">
</p>

<h1>Announcing foss-north 2020</h1>

<p>foss-north 2020 will run from March 29 - April 1 in Gothenburg, Sweden. It will consist of one community day filled with workshops, unconferences, hackathons, and fun, then two conference days, and end with a day of training sessions. We are currently looking for sponsors!</p>

<div class="bodybreak">&nbsp;</div>

<h1>Sponsors</h1>

<p>A great conference is made by great contents. For great contents we need great sponsors. Please join us in making foss-north 2020 the best foss-north of them all.</p>

<p>We want to create the meeting space for open source communities in the Nordic region. The foss-north event is one step on that path. Nothing of this would be possible by the support of our sponsors.</p>

<p>We are looking for sponsors of all sizes to be a part of the foss-north event. We offer the following tiers:</p>

<div class="bodytext">
    <table class="table table-striped">
    <thead>
    <tr>
        <th class="leftalign">Benefit</th>
        <th>Base</th>
        <th>Silver</th>
        <th>Gold</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="leftalign">Cost</td>
        <td>10kSEK</td>
        <td>25kSEK</td>
        <td>40kSEK</td>
    </tr>
    <tr>
        <td class="leftalign">Availability</td>
        <td>Unlimited</td>
        <td>Unlimited</td>
        <td>2</td>
    </tr>
    <tr>
        <td class="leftalign">Logo and link</td>
        <td>Yes, small</td>
        <td>Yes, large</td>
        <td>Yes, largest</td>
    </tr>
    <tr>
        <td class="leftalign">Mention in keynote</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td class="leftalign">Number of free tickets</td>
        <td>3</td>
        <td>5</td>
        <td>10</td>
    </tr>
    </tbody>
    </table>
</div>

<p>We are also offering a limited number of booths for our sponsors. Please tell us if you are interested in this.</p>

<p>You find a more detailed information in our <a href="sponsorship-2020.pdf">sponsorship prospectus</a>. Prospective sponsors are welcome to contacting <a href="mailto:info@foss-north.se">info@foss-north.se</a>.</p>

{% endblock %}
