{% extends "page.html" %}
{% block bodycontents %}
<p>
<img src="images/logo-black.png" width="40%">
</p>

<h1>Announcing foss-north 2020</h1>

<p>foss-north is a free / open source conference covering both software and hardware from the technical perspective. Hosted in Gothenburg between Copenhagen, Oslo, and Stockholm, with an international airport, we provide a meeting place for the Nordic foss communities and will bring together great speakers with a great audience.</p>

<p>The event will run from <strong>March 29 - April 1</strong> at Chalmers Conference Centre in <strong>Gothenburg, Sweden</strong>.</p>

<div class="bodybreak">&nbsp;</div>

<h2>What, When, and Where</h2>

<div class="row">
    <div class="col-md-4">
        <div class="toptitle">Community Day</div>
        <div class="topsub">March 29</div>
        <p>A day of workshops, dev sprints, install fests and hackathons. We invite all FOSS projects to participate and will find you a venue. Guests are welcome to visit the activities during the day.</p>
        <p><b><a href="communityday.html">Free of charge - learn more here!</a></b></p>
    </div>
    <div class="col-md-4">
        <div class="toptitle">Conference Days</div>
        <div class="topsub">March 30-31</div>
        <p>Two days of fully catered, dual track conference with a technical focus. We bring speakers and guests from all over the world to provide the best possible contents for our audience.</p>
        <p><b><a href="tickets.html">Get your tickets now!</a></b></p>
    </div>
    <div class="col-md-4">
        <div class="toptitle">Training Day</div>
        <div class="topsub">April 1</div>
        <p>One day of top quality training sessions. We bring the best teachers to our venue for an additional one day training of your choice.</p>
        <p><b><a href="trainingday.html">Learn more!</a></b></p>
    </div>
</div>

<div class="bodybreak">&nbsp;</div>

<h1>Speakers</h1>

<p>The Call for Papers is closed. We will update you with a complete schedule in the coming days.</p>

<p>We are pleased to present the following speakers for the 2020 event:</p>

<div>
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-4">
            <img class="speakergrid" src="images/speaker-ameklundlowinder.png" alt="Anne-Marie Eklund-Löwinder"><br />
            <b>Anne-Marie Eklund-Löwinder</b><br />
            Chief Information Officer at The Swedish Internet Foundation
        </div>
        <div class="col-md-4">
            <img class="speakergrid" src="images/speaker-fkarlitschek.png" alt="Frank Karlitschek"><br />
            <b>Frank Karlitschek</b><br />
            Founder of NextCloud
        </div>
    </div>
</div>



<div class="bodybreak">&nbsp;</div>

<h1>Sponsors</h1>

<p>We would like to thank our sponsors for helping us making this possible.</p>

<p>If you want to help out by sponsoring us, please visit our <a href="contribute.html#sponsors">Call for Sponsors</a> for more information.</p>



{% set gold_sponsor_count = data.sponsors|selectattr('level','equalto','gold')|list|length %}
{% if gold_sponsor_count > 0 %}
    <h2>Gold Sponsors</h2>

    <div>
    {% for sponsor in data.sponsors|selectattr('level','equalto','gold') %}
        {% set loopindex = loop.index-1 %}
        {% set rowcount = loopindex % 2 %}
        {% if rowcount == 0 %}
            <div class="row sponsorrow">
            
            {% set rowindex = loopindex // 2 %}
            {% set rowsize = gold_sponsor_count // 2 %}
            {% if rowindex == rowsize %}
                {% set rowoffset = gold_sponsor_count % 2 %}
                {% if rowoffset == 1 %}
                    <div class="col-md-3">&nbsp;</div>
                {% endif %}
            {% endif %}
        {% endif %}
        
            <div class="col-md-6">
                <a href="{{ sponsor.url }}"><img class="sponsor" src="images/sponsor-{{ sponsor.short }}.png" alt="{{ sponsor.name | escape }}"></a>
            </div>
        
        {% if rowcount == 2 %}
            </div>
        {% endif %}
        
        {% set loopindex = loopindex + 1 %}
    {% endfor %}
    {% if (gold_sponsor_count % 2) != 0 %}
        </div>
    {% endif %}
    </div>
{% endif %}




{% set silver_sponsor_count = data.sponsors|selectattr('level','equalto','silver')|list|length %}
{% if silver_sponsor_count > 0 %}
    <h2>Silver Sponsors</h2>

    <div>
    {% for sponsor in data.sponsors|selectattr('level','equalto','silver') %}
        {% set loopindex = loop.index-1 %}
        {% set rowcount = loopindex % 3 %}
        {% if rowcount == 0 %}
            <div class="row sponsorrow">
            
            {% set rowindex = loopindex // 3 %}
            {% set rowsize = silver_sponsor_count // 3 %}
            {% if rowindex == rowsize %}
                {% set rowoffset = silver_sponsor_count % 3 %}
                {% if rowoffset == 1 %}
                    <div class="col-md-4">&nbsp;</div>
                {% endif %}
                {% if rowoffset == 2 %}
                    <div class="col-md-2">&nbsp;</div>
                {% endif %}
            {% endif %}
        {% endif %}
        
            <div class="col-md-4">
                <a href="{{ sponsor.url }}"><img class="sponsor" src="images/sponsor-{{ sponsor.short }}.png" alt="{{ sponsor.name | escape }}"></a>
            </div>
        
        {% if rowcount == 2 %}
            </div>
        {% endif %}
        
        {% set loopindex = loopindex + 1 %}
    {% endfor %}
    {% if (silver_sponsor_count % 3) != 0 %}
        </div>
    {% endif %}
    </div>
{% endif %}



{% set base_sponsor_count = data.sponsors|selectattr('level','equalto','base')|list|length %}
{% if base_sponsor_count > 0 %}
    <h2>Base Sponsors</h2>

    <div>
    {% for sponsor in data.sponsors|selectattr('level','equalto','base') %}
        {% set loopindex = loop.index-1 %}
        {% set rowcount = loopindex % 3 %}
        {% if rowcount == 0 %}
            <div class="row sponsorrow">
            {% set rowindex = loopindex // 3 %}
            {% set rowsize = base_sponsor_count // 3 %}
            {% if rowindex == rowsize %}
                {% set rowoffset = base_sponsor_count % 3 %}
                {% if rowoffset == 1 %}
                    <div class="col-md-4">&nbsp;</div>
                {% endif %}
                {% if rowoffset == 2 %}
                    <div class="col-md-2">&nbsp;</div>
                {% endif %}
            {% endif %}
        {% endif %}
        
            <div class="col-md-4">
                <a href="{{ sponsor.url }}"><img class="sponsor" src="images/sponsor-{{ sponsor.short }}.png" alt="{{ sponsor.name | escape }}"></a>
            </div>
        
        {% if rowcount == 2 %}
            </div>
        {% endif %}
    {% endfor %}
    {% if (base_sponsor_count % 3) != 0 %}
        </div>
    {% endif %}
    </div>
{% endif %}



{% set partner_count = data.sponsors|selectattr('level','equalto','partner')|list|length %}
{% if partner_count > 0 %}
    <h2>Partners</h2>
    <p>We would like to thank our partners for helping us making this possible.</p>

    <div>
    {% for sponsor in data.sponsors|selectattr('level','equalto','partner') %}
        {% set loopindex = loop.index-1 %}
        {% set rowcount = loopindex % 4 %}
        {% if rowcount == 0 %}
            <div class="row sponsorrow">
            
            {% set rowindex = loopindex // 4 %}
            {% set rowsize = partner_count // 4 %}
            {% if rowindex == rowsize %}
                {% set rowoffset = partner_count % 4 %}
                {% if rowoffset == 1 %}
                    <div class="col-md-4">&nbsp;</div>
                {% endif %}
                {% if rowoffset == 2 %}
                    <div class="col-md-2">&nbsp;</div>
                {% endif %}
            {% endif %}
        {% endif %}
        
            <div class="col-md-4">
                <a href="{{ sponsor.url }}"><img class="sponsor" src="images/sponsor-{{ sponsor.short }}.png" alt="{{ sponsor.name | escape }}"></a>
            </div>
        
        {% if rowcount == 3 %}
            </div>
        {% endif %}
        
        {% set loopindex = loopindex + 1 %}
    {% endfor %}
    {% if (partner_count % 3) != 0 %}
        </div>
    {% endif %}
    </div>
{% endif %}

{% set project_count = data.projects|selectattr('front','equalto',true)|list|length %}
{% if project_count > 0 %}
    <div>
    {% for project in data.projects|selectattr('front','equalto',true) %}
        {% set loopindex = loop.index-1 %}
        {% set rowcount = loopindex % 4 %}
        {% if rowcount == 0 %}
            <div class="row sponsorrow">
            
            {% set rowindex = loopindex // 4 %}
            {% set rowsize = project_count // 4 %}
            {% if rowindex == rowsize %}
                {% set rowoffset = project_count % 4 %}
                {% if rowoffset == 1 %}
                    <div class="col-md-4">&nbsp;</div>
                {% endif %}
                {% if rowoffset == 2 %}
                    <div class="col-md-2">&nbsp;</div>
                {% endif %}
            {% endif %}
        {% endif %}
        
            <div class="col-md-4">
                <a href="{{ project.url }}"><img class="sponsor" src="images/project-{{ project.short }}.png" alt="{{ project.name | escape }}"></a>
            </div>
        
        {% if rowcount == 3 %}
            </div>
        {% endif %}
        
        {% set loopindex = loopindex + 1 %}
    {% endfor %}
    {% if (project_count % 3) != 0 %}
        </div>
    {% endif %}
    </div>
{% endif %}

</div>

{% endblock %}
